#box1{
    border: 1px solid;
    height: 200px;
    width: 200px;
   
 background-color: rgb(142, 208, 243);

 position: sticky;
 top: 0px;
 bottom: 0px;

}

#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: rgb(210, 100, 100);

 position: absolute;

    top: 40px;
    left:45px;
}