h1{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: silver;
}

p{
    border-style:groove;
    border-width: 4px;
    border-color: rgb(133, 133, 230);
    border-radius:10px;
    padding: 5px;
}